<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <p class="message"> <a href="/login">로그인</a></p>
            <p class="message"> <a href="/register">회원가입</a></p>
          </form>
        </div>
      </div>
</body>
</html>