<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>연습</title>
    <style>
        @import url(구매2.css);
    </style>
    <script>

    function count(type)  {
    // 결과를 표시할 element
    const resultElement = document.getElementById('result');
  
    // 현재 화면에 표시된 값
    let number = resultElement.innerText;
  
    // 더하기/빼기
    if(type === 'plus') {
    number = parseInt(number) + 1;
    }else if(type === 'minus')  {
    number = parseInt(number) - 1;
    }
    if (number < 1) {
      alert('더이상 줄일수 없습니다.');
      number = 1;
    }
  
  // 결과 출력
  resultElement.innerText = number;
}
                       
function btn(){
    alert("구매완료");
}
function btn2(){
    alert("장바구니에 추가하였습니다");
}

    </script>


</head>
<body>

    <header>
        <div id="top">
            <h2 onclick="location.href='ex001.html'">Moble shop</h2>
        </div>
        <div id="login">
            <a href="login.html">로그인</a>  <a href="member.html">회원가입</a>
        </div>
    </header>

    <nav>
        <div id="table">
            <div id="menu">
                <ul class="bar">
                    <li>
                        <a href="#">아우터</a>
                        <ul class="submenu">
                            <li><a href="Coat.html">코트</a></li>
                            <li><a href="#">패딩</a></li>
                            <li><a href="#">가디건</a></li>
                            <li><a href="#">재킷</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">상의</a>
                        <ul class="submenu">
                            <li><a href="#">맨투맨</a></li>
                            <li><a href="#">후드</a></li>
                            <li><a href="#">니트</a></li>
                            <li><a href="#">셔츠</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">하의</a>
                        <ul class="submenu">
                            <li><a href="#">데님</a></li>
                            <li><a href="#">숏</a></li>
                            <li><a href="#">슬랙스</a></li>
                            <li><a href="#">트레이닝</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">모자</a>
                        <ul class="submenu1">
                            <li><a href="#">캡</a></li>
                            <li><a href="#">비니</a></li>
                            <li><a href="#">페도라</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">가방</a>
                        <ul class="submenu">
                            <li><a href="#">백팩</a></li>
                            <li><a href="#">메신저백</a></li>
                            <li><a href="#">클러치백</a></li>
                            <li><a href="#">캐리어</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
     
    </nav>
    <section>
      <div id="sell">
        <table>
            <th>단가라 티셔츠</th>
            <tr>
                <td><img src="옷2.jpg"></td>
                <td>
                    <p>가격 19000원</p>
                    <p>
                        사이즈 <select name="size">
                        <option value="size">size</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        </select>
                    </p>
                    <p>
                        색상 <select name="color">
                        <option value="색상">색상</option>
                        <option value="검정">검정</option>
                        <option value="파랑">파랑</option>
                        <option value="빨강">빨강</option>
                        </select>
                    </p>
                    <p>
                        수량 <span id="result">1</span>
                        <input type='button' onclick='count("plus")'  value='+' id="button"/>
                        <input type='button' onclick='count("minus")'  value='-' id="button"/>
                    </p>
                   <p>
                       <input type="button" value="구매하기" id="button" onclick="btn(); location.href='ex001.html'">
                       <input type="button" value="장바구니" id="button" onclick="btn2();">
                   </p>
                </td>
            </tr>
            
        </table>
      </div>
      <div id="foot">
           <p id="re">추천상품</p>
            <div id="recomand"><img src="옷2.jpg"> <img src="옷3.jpg"> <img src="옷4.jpg"> <img src="옷5.jpg"></div>
      </div>  

    </section>

    <footer>
        <div id="number">
            <p class="a">문의사항 010-1234-5678</p>
            <p class="b">(주)Moble</p>
            <p class="b">주소: 충청남도 천안시 동남구 대흥로 255 </p>
        </div>

    </footer>
</body>
</html>