<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>연습</title>
    <style>
        @import url(ex001.css);
    </style>

</head>
<body>

    <header>
        <div id="top">
            <h2 onclick="location.href='ex001.html'">Moble shop</h2>
        </div>
        <div id="login">
            <a href="ex001.html">로그아웃</a>  <a href="">마이페이지</a>
        </div>
    </header>

    <nav>
        <div id="table">
            <div id="menu">
                <ul class="bar">
                    <li>
                        <a href="#">아우터</a>
                        <ul class="submenu">
                            <li><a href="Coat.html">코트</a></li>
                            <li><a href="#">패딩</a></li>
                            <li><a href="#">가디건</a></li>
                            <li><a href="#">재킷</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">상의</a>
                        <ul class="submenu">
                            <li><a href="#">맨투맨</a></li>
                            <li><a href="#">후드</a></li>
                            <li><a href="#">니트</a></li>
                            <li><a href="#">셔츠</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">하의</a>
                        <ul class="submenu">
                            <li><a href="#">데님</a></li>
                            <li><a href="#">숏</a></li>
                            <li><a href="#">슬랙스</a></li>
                            <li><a href="#">트레이닝</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">모자</a>
                        <ul class="submenu1">
                            <li><a href="#">캡</a></li>
                            <li><a href="#">비니</a></li>
                            <li><a href="#">페도라</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">가방</a>
                        <ul class="submenu">
                            <li><a href="#">백팩</a></li>
                            <li><a href="#">메신저백</a></li>
                            <li><a href="#">클러치백</a></li>
                            <li><a href="#">캐리어</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
       
    </nav>

    <section>
       
           <div id="start">
            New Produt
           </div>
           <div id="item">
            <table>
                <tr>
                    <td><img src="옷1.jpg" onclick="location.href='구매1.html'" style="cursor: pointer;"></td>
                    <td><img src="옷2.jpg" onclick="location.href='구매2.html'" style="cursor: pointer;"></td>
                    <td><img src="옷3.jpg" onclick="location.href='구매3.html'" style="cursor: pointer;"></td>
                    <td><img src="옷4.jpg" onclick="location.href='구매4.html'" style="cursor: pointer;"></td>
                </tr>
                <tr>
                    <td>19000원</td>
                    <td>10000원</td>
                    <td>13000원</td>
                    <td>19000원</td>
                </tr>
            </table>
           </div>
           <div id="item">
            <table>
                <tr>
                    <td><img src="옷5.jpg" onclick="location.href='구매5.html'" style="cursor: pointer;"></td>
                    <td><img src="옷6.jpg" onclick="location.href='구매6.html'" style="cursor: pointer;"></td>
                    <td><img src="옷7.jpg" onclick="location.href='구매7.html'" style="cursor: pointer;"></td>
                    <td><img src="옷8.jpg" onclick="location.href='구매8.html'" style="cursor: pointer;"></td>
                </tr>
                <tr>
                    <td>19000원</td>
                    <td>10000원</td>
                    <td>13000원</td>
                    <td>19000원</td>
                </tr>
            </table>
           </div>


        
    </section>

    <footer>
        <div id="number">
            <p class="a">문의사항 010-1234-5678</p>
            <p class="b">(주)Moble</p>
            <p class="b">주소: 충청남도 천안시 동남구 대흥로 255 </p>
        </div>

    </footer>
</body>
</html>