<!DOCTYPE html>
<html>
  <head>
    <title>Moble Shop</title>
    <meta charset="utf-8" />
    <link href="css/styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url(어렵.css);
    </style>
  </head>

  <body>
    <div class="navbar">
      <a class="logo" href="#">
        <img src="m.png.gif" height="30px">
      </a>
      <ul>
        <li><a href="login.html">로그인</a></li>
        <li><a href="member.html">회원가입</a></li>
      </ul>
    </div>

    <nav id="main_meun">
        <div class="box_menu">
            <ul class="bar">
                <li>
                    <a href="#">아우터</a>
                    <ul class="submenu">
                        <li><a href="Coat.html">코트</a></li>
                        <li><a href="#">패딩</a></li>
                        <li><a href="#">가디건</a></li>
                        <li><a href="#">재킷</a></li>
                        <li><a href="#">기타</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">상의</a>
                    <ul class="submenu">
                      <li><a href="#">맨투맨</a></li>
                      <li><a href="#">후드</a></li>
                      <li><a href="#">니트</a></li>
                      <li><a href="#">셔츠</a></li>
                      <li><a href="#">기타</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">하의</a>
                    <ul class="submenu">
                      <li><a href="#">데님</a></li>
                      <li><a href="#">숏</a></li>
                      <li><a href="#">슬랙스</a></li>
                      <li><a href="#">트레이닝</a></li>
                      <li><a href="#">기타</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">모자</a>
                    <ul class="submenu1">
                      <li><a href="#">캡</a></li>
                      <li><a href="#">비니</a></li>
                      <li><a href="#">페도라</a></li>
                      <li><a href="#">기타</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">가방</a>
                    <ul class="submenu">
                      <li><a href="#">백팩</a></li>
                      <li><a href="#">메신저백</a></li>
                      <li><a href="#">클러치백</a></li>
                      <li><a href="#">캐리어</a></li>
                      <li><a href="#">기타</a></li>
                    </ul>
                  </li>
            </ul>
        </div>
    </nav>
    <img class="hero_header" src="로고.jpg">
    <h1>New Products</h1>
    <div class="products">
      <a href="#">
        <img src="옷1.jpg">
        <p>Sunglasses</p>
        <p class="price">49,000</p>
      </a>
      <a href="#">
        <img src="옷2.jpg">
        <p>Tassel Loafer</p>
        <p class="price">89,000</p>
      </a>
      <a href="#">
        <img src="옷3.jpg">
        <p>Begie Bag</p>
        <p class="price">69,000</p>
      </a>
      <a href="#">
        <img src="images/sneakers.jpg">
        <p>Sneakers</p>
        <p class="price">79,000</p>
      </a>
      <a href="#">
        <img src="images/slippers.jpg">
        <p>Slippers</p>
        <p class="price">29,000</p>
      </a>
      <a href="#">
        <img src="images/wrist_watch.jpg">
        <p>Wrist Watch</p>
        <p class="price">99,000</p>
      </a>
      <a href="#">
        <img src="images/fedora_hat.jpg">
        <p>Fedora Hat</p>
        <p class="price">39,000</p>
      </a>
      <a href="#">
        <img src="images/classic_loafer.jpg">
        <p>Classic Loafer</p>
        <p class="price">99,000</p>
      </a>
      <a href="#">
        <img src="images/pink_bag.jpg">
        <p>Pink Bag</p>
        <p class="price">79,000</p>
      </a>
      <div class="clearfix"></div>
    </div>
    
    <div class="footer">
      <a href="#"><img src="m.png.gif"></a>
    </div>
  </body>
</html>