<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연습</title>
    <style>
        @import url(연습.css);
    </style>
</head>
<body>

    <header>
        <div id="top">
           <div class="box">
               <div id="top_logo">
                <img src="m.png.gif" onclick="location.href='연습.html'">
               </div>
               <div id="top_login">
                   <a href="login.html">로그인</a> | <a href="member.html">회원가입</a>
               </div>
            </div><!--box-->
        </div><!--top-->

    

        <div id="logo">
           
            
        </div>


    </header>

    <nav id="main_meun">
        <div class="box_menu">
            <ul class="bar">
                <li>
                    <a href="#">아우터</a>
                    <ul class="submenu">
                        <li><a href="#">코트</a></li>
                        <li><a href="#">패딩</a></li>
                        <li><a href="#">가디건</a></li>
                        <li><a href="#">재킷</a></li>
                        <li><a href="#">기타</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">상의</a>
                    <ul class="submenu">
                      <li><a href="#">맨투맨</a></li>
                      <li><a href="#">후드</a></li>
                      <li><a href="#">니트</a></li>
                      <li><a href="#">셔츠</a></li>
                      <li><a href="#">기타</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">하의</a>
                    <ul class="submenu">
                      <li><a href="#">데님</a></li>
                      <li><a href="#">숏</a></li>
                      <li><a href="#">슬랙스</a></li>
                      <li><a href="#">트레이닝</a></li>
                      <li><a href="#">기타</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">모자</a>
                    <ul class="submenu1">
                      <li><a href="#">캡</a></li>
                      <li><a href="#">비니</a></li>
                      <li><a href="#">페도라</a></li>
                      <li><a href="#">기타</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">가방</a>
                    <ul class="submenu">
                      <li><a href="#">백팩</a></li>
                      <li><a href="#">메신저백</a></li>
                      <li><a href="#">클러치백</a></li>
                      <li><a href="#">캐리어</a></li>
                      <li><a href="#">기타</a></li>
                    </ul>
                  </li>



            </ul>

        </div>
    </nav>

    <section id="">
        <div>
            <div class="info">
                New Product
                <div class="pr_box">
                    <img src="옷1.jpg"><img src="옷2.jpg"><img src="옷3.jpg">
                </div>
            </div>
        </div>
    </section>
    <footer>
        하단
    </footer>
</body>
</html>
