<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member</title>
    <style type="text/css">
        @import url(회원가입2.css);
    </style>
</head>
<body style="background-color:rgb(243, 227, 227);">
    <div class="wrap">
        <div class="login">
            <h2>Moble Shop</h2>
            <div class="login_id">
                <h4>아이디</h4>
                <input type="email" name="" id="id" placeholder="아이디">
            </div>
            <div class="login_pw">
                <h4>비밀번호</h4>
                <input type="password" name="" id="pwd" placeholder="비밀번호">
            </div>
            <div class="login_pw">
                <h4>비밀번호 확인</h4>
                <input type="password" name="" id="confirm-pwd" placeholder="비밀번호">
            </div>
            <div class="login_id">
                <h4>이름</h4>
                <input type="name" name="" id="name" placeholder="이름">
            </div>
            <div class="login_etc">
                <div class="checkbox">
                <input type="checkbox" name="" id=""> Remember Me?
                </div>
                <div class="forgot_pw">
                <a href="">Forgot Password?</a>
            </div>
            </div>
            <div class="submit">
                <input type="submit" value="로그인" onclick="location.href='어렵.html'" style="cursor:pointer;">
            </div>
        </div>
    </div>
</body>
</html>